.slider {
	.carousel-inner {
		height: 800px;
		.carousel-item {
			height: 100%;
			min-height: 600px;
			background-position: center;
			background-size: cover;
			font-weight: 300;
			.caption {
				h2 {
					font-size: 0.875rem;
					color: #fbbd61;
				}
				padding: 0 1rem;
				color: #fff;
				text-align: center;
				top: 40%;
				position: relative;
				h5 {
					font-size: 3.25rem;
				}
				p {
					font-size: 1.1rem;
				}
				.label {
					font-size: 1rem;
					border-width: 2px !important;
					width: 3rem;
					height: 3rem;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				button {
					overflow: hidden;
					span,
					i {
						opacity: 1;
						visibility: visible;
						transform: scale(1);
					}
					&::before {
						content: "";
						width: 0;
						height: 100%;
						background: #ec7532;
						position: absolute;
						top: 0;
						left: -100%;
						transform: skewX(45deg);
					}
					&:hover {
						&::before {
							width: 250%;
							transition: all 0.4s;
						}
					}
				}
			}
			&::before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-image: linear-gradient(
					to top,
					rgb(0, 0, 0) 0%,
					rgba(0, 0, 0, 0) 100%
				);
			}
		}
	}
}

// .slider .caption .trailer i {
//     opacity: 0;
//     visibility: hidden;
//     // transform: scale(0.8);
//     transition: all 0.4s;
//   }
//   .slider .caption .trailer i {
//     opacity: 1;
//     visibility: visible;
//     transform: scale(1);
//   }

// .slider {
// 	.carousel-inner {
// 		height: 800px;
// 		.carousel-item {
// 			height: 100%;
// 			min-height: 600px;
// 			background-position: center;
// 			background-size: cover;
// 			.carousel-caption {
// 				span {
// 					font-size: 0.875rem;
// 					color: #fbbd61;
// 				}
// 				h1 {
// 					font-size: 3.25rem;
// 				}
// 				p {
// 					font-size: 1.125rem;
// 				}
// 				.trailer {
// 					span {
// 						font-size: 1rem;
// 						border-width: 2px !important;
// 						width: 3rem;
// 						height: 3rem;
// 						font-weight: 300;
// 						display: flex;
// 						justify-content: center;
// 						align-items: center;
// 					}
// 					button {
// 						font-size: 1rem;
// 						background-color: linear-gradient(to right, #fbbd61, #ec7532);
// 						box-shadow: none;
// 						border-radius: 8888px;
// 						font-size: 0.75rem;
// 						font-weight: 300;
// 						letter-spacing: 2px;
// 						padding: 1rem 2rem;
// 						&:before {
// 							content: "";
// 							width: 0;
// 							height: 100%;
// 							background: #ec7532;
// 							position: absolute;
// 							top: 0;
// 							left: -100%;
// 							transform: skewX(45deg);
// 							overflow: hidden;
// 						}
// 						&:hover {
// 							&::before {
// 								width: 250%;
// 								transition: all 0.4s;
// 								overflow: hidden;
// 							}
// 						}
// 					}
// 					i {
// 						opacity: 1;
// 						visibility: visible;
// 						transform: scale(1);
// 						overflow: hidden;
// 					}
// 				}
// 			}
// 			&:before {
// 				content: "";
// 				width: 100%;
// 				height: 100%;
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				background: linear-gradient(to top, #000000, transparent);
// 			}
// 		}
// 		.btn {
// 			background-image: linear-gradient(to right, #fbbd61, #ec7532);
// 		}
// 	}
// }
