.coming {
    color: #fff;
    background: #101010;
	.container {
		>.title {
			font-size: 1.5rem;
			font-weight: 400;
			border-bottom: 0.5px solid #e2e2e2;
			padding-bottom: 1.875rem;
			padding-top: 5rem;
			position: relative;
			text-align: left;
			&::after {
				content: "";
				display: block;
				width: 10rem;
				height: 0.25rem;
				position: absolute;
				bottom: -1px;
				left: 0;
				background-image: linear-gradient(
					to right,
					$light_orange,
					$dark_orange
				);
			}
        }
        .row {
            justify-content: space-between;
            align-items: center;
            padding: 4rem 0;
            .bg {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(images/slide-3.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .detail {
                .fa {
                    font-size: 0.8rem;
                }
                span,a {
                    color: $dark_orange;
                    text-transform: uppercase;
                }
                .rating {
                    margin: 0.5rem 0;
                }
            }
            .video {
                img{
                    box-shadow: 0 0 50px 15px rgba(0,0,0,0.75);
                    width: 100%;
                }
            }
        }
        .owl-carousel {
            .film{
                opacity: 0.35;
                &:hover {
                    opacity: 1;
                }
            }
            &::before {
                position: absolute;
                right: 0;
                bottom: 0;
                left: -250%;
                display: block;
                width: 500%;
                height: 100%;
                content: '';
                background: #101010;
            }
            padding:3rem 0;
            text-align: center;
            img {
                border-radius: 12px;
            }
            h3 {
                font-size: 1rem;
                padding-top: 0.75rem;
            }
            span {
                font-size: 0.875rem;
            }
            
        }		
	}
}
