.new {
	.container {
		.title {
			color: $dark_orange;
			font-size: 1.5rem;
			font-weight: 400;
			border-bottom: 0.5px solid #e2e2e2;
			padding-bottom: 1.875rem;
			padding-top: 5rem;
			position: relative;
			text-align: left;
			&::after {
				content: "";
				display: block;
				width: 10rem;
				height: 0.25rem;
				position: absolute;
				bottom: -1px;
				left: 0;
				background-image: linear-gradient(to right, $light_orange, $dark_orange);
			}
		}
		.row {
			padding-top: 3rem;
		}
		.img {
            border-radius: 0.75rem;
            margin-bottom: 1rem;
			&::before {
				content: "";
				width: 0;
				height: 100%;
				opacity: 0.9;
				background-image: linear-gradient(to bottom, $light_orange, $dark_orange);
				position: absolute;
				top: 0;
				left: -100%;
                transform: skewX(45deg);
                overflow: hidden;
			}
			&:hover {
				&::before {
					width: 300%;
					transition: all 0.4s;
				}
				.info {
					opacity: 1;
					visibility: visible;
					transform: scale(1);
				}
            }
            
			.info {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                visibility: hidden;
                transform: scale(0.8);
                transition: all 0.4s;
				i {
					font-size: 1.75rem;
					border-width: 2px !important;
					width: 6rem;
					height: 6rem;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				p {
					font-size: 1rem;
				}
			}
		}
		h1 {
			font-size: 1.25rem;
		}
		text-align: center;
		.star-point {
			color: $light_orange;
		}
	}
}
